* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.speedometer-container {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
}
.center-point {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 137px;
    left: 137px;
}
.hiddenCircle {
    width: 250px;
    height: 250px;
    margin: 22px auto;
    background-color: white;
    border-radius: 50%;
    position: relative;
}
.hiddenSquare {
    width: 900px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 165px;
    left: -10px;
}
.bottomLine {
    background-color: black;
    width: 325px;
    height: 5px;
    position: absolute;
    top: 165px;
    left: -15px;
}
.arrow-container {
    width: 160px;
    height: 160px;
    top: 67px;
    left: 67px;
    position: absolute;
    background-color: transparent;
}
.arrow-wrapper {
    width: 160px;
    height: 160px;
    background-color: transparent;
    position: relative;
}
.arrow {
    background-color: red;
    position: relative;
    width: 110px;
    height: 5px;
    top: 78px;
    left: -30px;
}

.speedometer-notch {
    width: 8px;
    height: 280px;
    background-color: black;
    position: absolute;
    left: 143px;
    top: 7px;
}
.notch1 {
    transform: rotate(-90deg);
}
.notch2 {
    transform: rotate(-80deg);
}
.notch3 {
    transform: rotate(-70deg);
}
.notch4 {
    transform: rotate(-60deg);
}
.notch5 {
    transform: rotate(-50deg);
}
.notch6 {
    transform: rotate(-40deg);
}
.notch7 {
    transform: rotate(-30deg);
}
.notch8 {
    transform: rotate(-20deg);
}
.notch9 {
    transform: rotate(-10deg);
}
.notch11 {
    transform: rotate(10deg);
}
.notch12 {
    transform: rotate(20deg);
}
.notch13 {
    transform: rotate(30deg);
}
.notch14 {
    transform: rotate(40deg);
}
.notch15 {
    transform: rotate(50deg);
}
.notch16 {
    transform: rotate(60deg);
}
.notch17 {
    transform: rotate(70deg);
}
.notch18 {
    transform: rotate(80deg);
}
.notch19 {
    transform: rotate(90deg);
}

.notch1.active {
    background-color: green;
}

.notch19.active {
    background-color: red;
}